// Sass Variables

// Text Colors

$text-primary: #000000;
$text-secondary: #525252;
$text-tertiary: #006cb7;
$text-quaternary: #808080;
$text-white: #ffffff;

// Border Colors

$border-brand: #bbdcf5;
$border-brand-desktop: #808080;
$border-footer: #e0e0e0;
